[submodule "emotieffcpplib/3rdparty/opencv-mtcnn"]
	path = emotieffcpplib/3rdparty/opencv-mtcnn
	url = git@github.com:egcode/opencv-mtcnn.git
[submodule "emotieffcpplib/3rdparty/xtensor"]
	path = emotieffcpplib/3rdparty/xtensor
	url = git@github.com:xtensor-stack/xtensor.git
[submodule "emotieffcpplib/3rdparty/xtl"]
	path = emotieffcpplib/3rdparty/xtl
	url = git@github.com:xtensor-stack/xtl.git
